<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3><i class="fas fa lightbulb"></i>Tutor Finder</h3>
            <p><b>"Kết nối tri thức - Chắp cánh tương lai!"</b></p>
            <p>Tìm kiếm gia sư hoặc học viên phù hợp dễ dàng, nhanh chóng. Học tập hiệu quả với đội ngũ gia sư chất lượng.</p>
            <div class="share">
                <a href="#" class = "fab fa-facebook-f"></a>
                <a href="#" class = "fab fa-instagram"></a>
                <a href="#" class = "fab fa-twitter"></a>
                <a href="#" class = "fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>Liên kết nhanh</h3>
            <a href="home.html" class = "link">Trang chủ</a>
            <a href="about.html" class = "link">Giới thiệu</a>
            <a href="course.html" class = "link">Khóa học</a>
            <a href="contract.html" class = "link">Hợp đồng</a>
        </div>

        <div class="box">
            <h3>Liên kết hữu ích</h3>
            <a href="#" class="link"> Trung tâm hỗ trợ </a>
            <a href="#" class="link"> Đặt câu hỏi </a>
            <a href="#" class="link"> Gửi nhận xét</a>
            <a href="#" class="link"> Chính sách riêng tư </a>
            <a href="#" class="link"> Điều khoản sử dụng </a>
        </div>

        <div class="box">
            <h3>Bản tin mới</h3>
            <p>Đăng ký để nhận thông tin cập nhật mới nhất</p>
            <form action="">
                <input type="email" name="" placeholder ="Nhập email" class="email">
                <input type="submit" value="Đăng ký" class = "btn">

            </form>
        </div>

    </div>

    <div class="credit">Website được phát triển bởi <span>BGs Team</span> | Mọi quyền được bảo lưu.</div>

</section>