<header class = "header">
    <a href="#" class = "logo"> <i class = "fas fa-lightbulb"></i> Tutor Finder</a>
        <!-- đóng x -->
    <nav class = "navbar">
        <div id="close-navbar" class = "fas fa-times"></div> 
        <a href = "home.html"> Trang chủ </a>
        <a href = "about.html"> Giới thiệu </a>
        <a href = "course.html"> Lớp mới </a>
        <a href = "contact.html"> Liên hệ </a>
    </nav>
    <div class = "icons">
        <div id = "account-btn" class = "fas fa-user"></div>
        <div id = "menu-btn" class = "fas fa-bars"></div>
    </div>
</header>