<header class="header">
    <a href="#" class="logo"> <i class="fas fa-lightbulb"></i> Tutor Finder</a>
    <nav class="navbar">
        <div id="close-navbar" class="fas fa-times"></div>
        <a href="home.html">Trang chủ</a>
        <a href="about.html">Giới thiệu</a>
        <a href="course.html">Lớp mới</a>
        <a href="chat.html">Nhắn tin</a>
        <a href="contact.html">Liên hệ</a>
    </nav>
    <div class="user-container">
        <i id="user-icon" class="fas fa-user"></i>
        <div class="user-dropdown" id="user-dropdown">
            <a href="/edit_profile.html">Chỉnh sửa thông tin</a>
            <a href="/class_history.html">Theo dõi lớp học</a>
            <a href="/home.html">Đăng xuất</a>
        </div>
    </div>
</header>
