<!-- Account Form -->
<div class="account-form">

    <div id="close-form" class="fas fa-times"></div>

    <div class="buttons">
        <span class = "btn active login-btn">Đăng nhập</span>
        <span class = "btn register-btn">Đăng ký</span>
    </div>

    <form class = "login-form active" action="">
        <h3>Đăng nhập</h3>
        <input type="tel" placeholder="Nhập số điện thoại" class="box" pattern="[0-9]{10}" required>
        <input type="password" placeholder="Nhập mật khẩu" class="box">
        <div class="flex">
            <input type="checkbox" name="" id="remember-me">
            <label for="remember-me">Nhớ tài khoản</label>
            <a href="#">Quên mật khẩu?</a>
        </div>
        <input type="submit" value="Đăng nhập" class= "btn">
    </form>

    <form class = "register-form" action="">
        <h3>Đăng ký</h3>
        <input type="tel" placeholder="Nhập số điện thoại" class="box" pattern="[0-9]{10}" required>
        <input type="password" placeholder="Nhập mật khẩu" class="box">
        <input type="password" placeholder="Xác nhận lại mật khẩu" class="box">
        <input type="submit" value="Đăng ký" class= "btn">
    </form>

</div>