<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lớp mới</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">


</head>
<body>
    <!-- Header -->
    <div id="header-container"></div>
    
    <!-- Account Form -->
    <div id="reg-log-container"></div>

    <!-- Infor for contact -->

    <section class = "contact-content">
        <div class="contact-info-boxes">
            <div class="info-box">
                <img src="images/icons/clock.png" alt="Giờ làm việc">
                <h3>Giờ làm việc</h3>
                <p>Thứ 2 - Thứ 6: 8:00 - 17:00</p>
            </div>
            <div class="info-box">
                <img src="images/icons/phone.png" alt="Số điện thoại">
                <h3>Số điện thoại</h3>
                <p>+84935130945</p>
            </div>
            <div class="info-box">
                <img src="images/icons/email.png" alt="Email">
                <h3>Email</h3>
                <p>tutorfinderdn@gmail.com</p>
            </div>
            
            <div class="info-box">
                <img src="images/icons/location.png" alt="Địa chỉ">
                <h3>Địa chỉ</h3>
                <p>54 Nguyễn Lương Bằng, Quận Liên Chiểu, Thành phố Đà Nẵng</p>
            </div>
        </div>

        <div class="contact-form-wrapper">
            <div class="contact-image">
              <img src="images/contact_tutor_student.jpg" alt="Contact Illustration">
            </div>
            <div class="contact-form">
              <h2>Liên hệ với chúng tôi</h2>
              <form action="">
                <input type="text" placeholder="Họ và tên" required>
                <input type="email" placeholder="Email" required>
                <textarea placeholder="Nội dung" required></textarea>
                <button type="submit">Gửi</button>
              </form>
            </div>
        </div>

    </section>

    <!-- Footer -->
    <div id="footer-container"></div>
    

    <!-- custom js file link -->
    <script src="js/loadContent.js" defer></script>
    <script src="js/script.js" defer></script>
    
</body>
</html>

