<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <!-- Header -->
    <div id="header-container"></div>
    
    <!-- Account Form -->
    <div id="reg-log-container"></div>

    
    <!-- Footer -->
    <div id="footer-container"></div>
    

    <!-- custom js file link -->
    <script src="js/loadContent.js" defer></script>
    <script src="js/script.js" defer></script>
    
</body>
</html>

